body {
  background: DCD7C9;
  background-color: #e3e1d7;
  color: #2C3639;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png")
}

/* header layout*/
.header-section {
  background-color: #2C3639;
  z-index: 1;
}
.nameBrand,
.headerLinks,
.navLinks {
color: #DCD7C9;
}

.contactLink{
  color: #FECD70;
  font-weight: bold;
}
/* end header */

/*Home page */
.homePage-flex-container {
  display: flex;
  height: 100%;
  padding: 0 40px 0 30px;  
  margin-top: 20px;
}

.contentSection, .pictures{
  margin-top: 20px;
}
.aboutMe,
.aspirations {
  margin-top: 2rem;
}

.funFacts {
  margin-bottom: 9rem;
}

/* images */
.pictures {
  margin-right: 50px;
}

.profilePic {
  width: 17rem;
  height: 17rem;
}

/* end header */

/* contactForm */
.message{
  text-align: center;
  margin-top: 40px;
}

h5{
  text-decoration: underline;
  
}

/* resume */
/* .accordion{
      --bs-accordion-bg: rgba(255, 255, 255, 0);    
      color: #e3e1d7;
}
.accordion-header {
  background-color: #e3e1d7;
    color: #2C3639;
} */
h4 {
  text-decoration: underline;
  margin-top: 15px;
}

p {
  padding-bottom: 10px;
}