body {
    background: #eee;
    padding: 0 16px;
    height: 100%;
      overflow: hidden;
}

/* page positionings */
.mainpage, .contactPage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
.contactPage{
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png")
}


/* header layout*/
.header-section{
  background-color: rgb(182, 182, 182);
}

.navbar-brand{
  margin-left: 30px;
}
/* 
nav bar buttons */
nav .navbar-nav li a {
  color: rgb(31, 53, 82);
  margin-right: 5px;
  font-weight: bold;

}
/*Start home page */
.homePage-flex-container {
  padding: 0 40px 0 30px;
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  /* border-color: rgb(19, 21, 19);
    border-style: solid; */
}

/* images */
.pictures {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 50px;
  margin-top: 15px;
  /* border-color: blueviolet;
  border-style: solid; */

}

.profilePic,
.harleyPic {
  width: 275px;
  height: 275px;
  border-radius: 20%;
}

.harleyPic {
  margin-top: 110px;
}


.contentPage {
  flex-grow: 1;
  width: 70%;
  /* border-color: rgb(43, 226, 43);
    border-style: solid; */
}
/* end home page */

/* contact page */
.contactForm{
  padding: 0 40px 0 30px;
  margin-top: 90px;
  display: flex;
  width: fit-content;
  margin-top: 10rem;
  margin-left: 40rem;
}

/* general html elements */
h4{
  text-decoration: underline;
  margin-top: 15px;
}
p {
  padding-bottom: 10px;
 }






