body {
  background: DCD7C9;
  background-color: #e3e1d7;
  color: #2C3639;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png")
}

/* header layout*/
.header-section {
  background-color: #2C3639;
  z-index: 1;
}
.nameBrand,
.headerLinks,
.navLinks {
  /* font-weight: bolder; */
  color: #DCD7C9;
}

.contactLink{
  color: #FECD70;
  font-weight: bold;
}
/* end header */

/*Home page */
.homePage-flex-container {
  display: flex;
  height: 100%;
  padding: 0 40px 0 30px;  
  margin-top: 20px;
}

.contentSection, .pictures{
  margin-top: 20px;
}
.aboutMe,
.funFacts {
  margin-top: 2rem;
}

.funFacts {
  margin-bottom: 9rem;
}

/* images */
.pictures {
  margin-right: 50px;
}

.profilePic {
  width: 17rem;
  height: 17rem;
}

/* contact page */
/* .contactPage {
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png")
} */

.contactForm {
  padding: 0 40px 0 30px;
  margin-top: 90px;
  display: flex;
  width: fit-content;
  margin-top: 10rem;
  margin-left: 40rem;
}

/* general html elements */
h4 {
  text-decoration: underline;
  margin-top: 15px;
}

p {
  padding-bottom: 10px;
}