body {
    background: #eee;
    padding: 0 16px;
}

.header_section {
margin: 40px 50px 0 500px;
padding-bottom: 50px;
text-align: center;
}

.pictures{
  display: flex;
  flex-direction: column;
  float: left;
  width: 45%;

}
.profilePic, .harleyPic{
  height: 50%;
  width: 50%;
  float: left;
  border-radius: 20%;
  margin-bottom: 30px;
  margin-left: 70px;
}

.pageContent{
  float: left;
  width: 65%;
  position: absolute;
  display:inline;
  padding-right: 90px;
 }

.aboutMe, .resume, .skills, .contactMe{
margin-right: 40px;
}
h4{
  text-decoration: underline;
}
 h4, p {
  padding: 10px;
 }

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 7px 25px;
  margin: 0 10px;
  color: #141a1a;
  text-align: center;
  border-radius: 5px;
}

.nav-item.active .nav-link,
.custom_nav-container.navbar-expand-lg 
.navbar-nav .nav-item:hover .nav-link {
  background-color: #f0b016;
  color: #ffffff;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar .navbar-brand {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .navbar-brand img {
  width: 90px;
  margin-right: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-size: 45px;
}

