body {
    background: #eee;
    padding: 0 16px;
    height: 100%;
      overflow: hidden;
}
.mainpage, .contactPage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

/* header layout*/
.header-section {
  background-color: #2C3639;
  z-index: 1;
}
.nameBrand,
.headerLinks,
.navLinks {
  /* font-weight: bolder; */
  color: #DCD7C9;
}

.contactLink{
  color: #FECD70;
  font-weight: bold;
}
/* end header */

/*Home page */
.homePage-flex-container {
  display: flex;
  height: 100%;
  padding: 0 40px 0 30px;  
  margin-top: 20px;
}

.contentSection, .pictures{
  margin-top: 20px;
}
.aboutMe,
.funFacts {
  margin-top: 2rem;
}

.funFacts {
  margin-bottom: 9rem;
}

/* images */
.pictures {
  margin-right: 50px;
}

.profilePic {
  width: 17rem;
  height: 17rem;
}

/* contact page */
/* .contactPage {
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png")
} */

.contactForm {
  padding: 0 40px 0 30px;
  margin-top: 90px;
  display: flex;
  width: fit-content;
  margin-top: 10rem;
  margin-left: 40rem;
}

.pictures {
  display: flex;
  flex-direction: column;
  width:fit-content;
  /* border-color: blueviolet;
  border-style: solid; */
  margin-right: 50px;
 
}

.profilePic,
.harleyPic{
width: 275px;
height: 275px;
border-radius: 20%;
}

.harleyPic{
  margin-top: 110px;
}

.pageContent{
  /* border-color: rgb(43, 226, 43);
  border-style: solid; */
  flex-grow: 1;
  width: 70%;
}
/* .skills{
   border-color: rgb(43, 134, 226);
  border-style: solid; 
 } */
  
h4{
  text-decoration: underline;
  margin-top: 15px;
}

p {
  padding-bottom: 10px;
}