body {
  background-color: #dcd7c97b;
  color: #2C3639;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  font-family: 'Inter Tight', sans-serif
}

/* header layout*/
.header-section {
  background-color: #2C3639;
  font-weight: bold;
}

.nameBrand,
.headerLinks,
.navLinks {
color: #dcd7c9;
}

.navbar .navbar-brand{
  color: #dcd7c9 !important
}

.contactLink{
  color: #FECD70;
  font-weight: bold;
}

/*flex-containers, page and conent layouts */
.homePage-flex-container, 
.resume-flex-container, 
.contact-flex-container {
  display: flex;
  height: 100%;
  padding: 0 40px 0 30px;  
  margin-top: 20px;
}

.homeRight{
  line-height: 2;
  margin-right: 30px;
}
 .homeLeft{
  margin-top: 20px;
  margin-right: 110px;
  line-height: 2.5;
}

.aboutMe,
.aspirations,
.resumeContent,
.contactPageContent{
  margin-top: 2rem;
}

.aspirations {
  margin-top: 5rem;
}

.skillsContainer {
  margin-left: 50px;
}
/* images */
.profilePic {
  width: 17rem;
  height: 17rem;
  margin: 20px 50px 50px 25px
}

/* resume page */
.skillsRow {
  margin: 60px 50px 0 5p
}

.accordion-button:not(.collapsed), .accordion-button, .accordion-button-icon {
  background-color: #2C3639 !important;
  color:#dcd7c9;
  font-weight: bolder;
} 

.accordionRows{
  width: 71%;
}

.accordion-body {
  word-spacing: 4px;
  line-height: 2;
}

/* contact page */
.contactPageRight {
  word-spacing: 2;
  align-self: center;
}

.contactMessage{
  line-height: 2.5;
    font-weight: bold;
}

label.form-label{
  font-weight: bold;
}
.contactFormInputs {
  margin-top: 50px;
  padding-bottom: 20px;
}

.btn{
  background-color: #2C3639;
  border-color: #2C3639;
  color:#dcd7c9;
  font-weight: bold;
}

.btn:hover{
  background-color: #FECD70;

}
/* html elements */
h5{
  text-decoration: underline;
}

h4 {
  text-decoration: underline;
  font-weight: bolder;
}
